<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.mapper.AdvertiserMapper">

    <resultMap id="AdvertiserCostMap" type="com.rabbiter.entity.AdvertiserCost">
        <id column="id" property="id" />
        <result column="date" property="date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="update_date" property="update_date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="advertiser_id" property="advertiser_id" jdbcType="VARCHAR" javaType="String"/>
        <result column="media_advertiser_nick" property="media_advertiser_nick" jdbcType="VARCHAR" javaType="String"/>
        <result column="media_account_id" property="media_account_id" jdbcType="VARCHAR" javaType="String"/>
        <result column="fund_cost" property="fund_cost" jdbcType="VARCHAR" javaType="String"/>
        <result column="fund_recharge" property="fund_recharge" jdbcType="VARCHAR" javaType="String"/>
        <result column="daily_cost" property="daily_cost" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" javaType="java.util.List"/>
        <result column="daily_recharge" property="daily_recharge" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler" javaType="java.util.List"/>
        <result column="stat_cost" property="stat_cost" jdbcType="VARCHAR" javaType="String"/>
        <result column="pay_amount_roi" property="pay_amount_roi" jdbcType="VARCHAR" javaType="String"/>
        <result column="stat_pay_amount" property="stat_pay_amount" jdbcType="VARCHAR" javaType="String"/>
        <result column="media_account_name" property="media_account_name" jdbcType="VARCHAR" javaType="String"/>
        <result column="media_source" property="media_source" jdbcType="VARCHAR" javaType="String"/>
        <result column="creater" property="creater" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <select id="getAdailyCostByUser" resultMap="AdvertiserCostMap"  parameterType="java.util.Map">
        SELECT daily_cost FROM `advertiser_cost` where creater = #{user_name} and  media_source = #{mini_program_name}
    </select>

    <select id="pageCC" resultMap="AdvertiserCostMap">
        select *
        from `advertiser_cost`
        ${ew.customSqlSegment}
    </select>
</mapper>

