<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.mapper.JlaccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="promotionResultMap" type="com.rabbiter.entity.JlPromotion">
        <id column="id" property="id" />
        <result column="date" property="date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="distributor_id" property="distributor_id" jdbcType="VARCHAR" javaType="String"/>
        <result column="create_time" property="create_time" jdbcType="VARCHAR" javaType="String"/>
        <result column="creater" property="creater" jdbcType="VARCHAR" javaType="String"/>
        <result column="book_id" property="book_id" jdbcType="VARCHAR" javaType="String"/>
        <result column="book_name" property="book_name" jdbcType="VARCHAR" javaType="String"/>
        <result column="status" property="status" jdbcType="VARCHAR" javaType="String"/>
        <result column="subject" property="subject" jdbcType="VARCHAR" javaType="String"/>
        <result column="advertising_num" property="advertising_num" jdbcType="VARCHAR" javaType="String"/>
        <result column="advertiser_num" property="advertiser_num" jdbcType="VARCHAR" javaType="String"/>
        <result column="project_num" property="project_num" jdbcType="VARCHAR" javaType="String"/>
        <result column="advertiser_id_info" property="advertiser_id_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="project_info" property="project_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="advertising_info" property="advertising_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="promotion_id_info" property="promotion_id_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="promotion_name_info" property="promotion_name_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="error_info" property="error_info" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="listPageAutoPromotion" resultMap="promotionResultMap">
        select * from `automation_promotion`
        ${ew.customSqlSegment}
    </select>

    <insert id="saveJlPromotion" parameterType="java.util.Map">
        INSERT INTO jlpromotion (advertiser_id, project_id, name, title, mini_program_info, call_to_action_buttons,
        external_url_material_list,product_info_selling_points, aweme_id, time, creater, promotion_id) VALUES
            (#{advertiser_id}, #{project_id}, #{name}, #{title_json}, #{mini_program_info}, #{call_to_action_buttons_json},
            #{external_url_material_list_json}, #{product_info_selling_points_json}, #{aweme_id}, #{time},  #{creater}, #{promotion_id})
    </insert>

    <insert id="saveJlProject" parameterType="java.util.Map">
        INSERT INTO jlproject (advertiser_id, project_id, name, time, creater, bid_strategy) VALUES
            (#{advertiser_id}, #{project_id}, #{name}, #{time},  #{creater}, #{bidStrategy})
    </insert>

    <insert id="saveJlaccount" parameterType="java.util.Map">
        INSERT INTO `jlaccount` (account, authcode, accesstoken, refreshtoken, refreshtime) VALUES
            (#{account}, #{authcode}, #{accesstoken}, #{refreshtoken},  #{refreshtime})
    </insert>

    <select id="selectJlaccount" parameterType="java.lang.String" resultType="java.util.Map">
        select * from `jlaccount` where account = #{account}
    </select>

    <update id="updateJlaccount" parameterType="java.util.Map">
            UPDATE `jlaccount`
            SET accesstoken = #{accesstoken},
            refreshtoken = #{refreshtoken},
            refreshtime = #{refreshtime}
            WHERE account = #{account};
    </update>
</mapper>
