<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.kaoya.mapper.KaoyaShouzhiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rabbiter.kaoya.entity.KaoyaShouzhi">
        <id column="id" property="id" />
        <result column="date" property="date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="linmei1recharge" property="linmei1recharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="line1recharge" property="line1recharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="linmei2recharge" property="linmei2recharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="line2recharge" property="line2recharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="linyaziexpend" property="linyaziexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="linmaicaiexpend" property="linmaicaiexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="lincanjvexpend" property="lincanjvexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="linchangfenexpend" property="linchangfenexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="linpeisongfeiexpend" property="linpeisongfeiexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="linotherexpend" property="linotherexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="lindetail" property="lindetail" jdbcType="VARCHAR" javaType="String"/>
        <result column="yanmeirecharge" property="yanmeirecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="yanerecharge" property="yanerecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="yanyaziexpend" property="yanyaziexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="yanmaicaiexpend" property="yanmaicaiexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="yancanjvexpend" property="yancanjvexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="yanotherexpend" property="yanotherexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="yandetail" property="yandetail" jdbcType="VARCHAR" javaType="String"/>
        <result column="linmargin" property="linmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="yanmargin" property="yanmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="margin" property="margin" jdbcType="VARCHAR" javaType="float"/>
        <result column="time" property="time" jdbcType="VARCHAR" javaType="String"/>
        <result column="creater" property="creater" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark
    </sql>

    <select id="pageCC" resultMap="BaseResultMap">
        select kaoya_shouzhi.*
        from kaoya_shouzhi
        ${ew.customSqlSegment}
    </select>

    <select id="selectrecord" resultType="com.rabbiter.kaoya.entity.KaoyaShouzhi">
        select kaoya_shouzhi.*
        from kaoya_shouzhi
        ${ew.customSqlSegment}
    </select>
</mapper>

