<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.mapper.NovelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rabbiter.entity.Novel">
        <id column="id" property="id" />
        <result column="date" property="date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="dianzhongexpend" property="dianzhongexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="dianzhongrecharge" property="dianzhongrecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="dianzhongroi" property="dianzhongroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="dianzhongprofit" property="dianzhongprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="dianzhongmargin" property="dianzhongmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="heiyanexpend" property="heiyanexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="heiyanrecharge" property="heiyanrecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="heiyanroi" property="heiyanroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="heiyanprofit" property="heiyanprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="heiyanmargin" property="heiyanmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqieexpend" property="fanqieexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqierecharge" property="fanqierecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqieroi" property="fanqieroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiemargin" property="fanqiemargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqieprofit" property="fanqieprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="qimaoexpend" property="qimaoexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="qimaorecharge" property="qimaorecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="qimaoroi" property="qimaoroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="qimaomargin" property="qimaomargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="qimaoprofit" property="qimaoprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongmargin" property="zongmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongroi" property="zongroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongprofit" property="zongprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongexpend" property="zongexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="time" property="time" jdbcType="VARCHAR" javaType="String"/>
        <result column="creater" property="creater" jdbcType="VARCHAR" javaType="String"/>
        <result column="role" property="role" jdbcType="VARCHAR" javaType="String"/>
        <result column="location" property="location" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="content" property="content" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="hiredate" property="hiredate" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, remark
    </sql>

    <select id="pageCC" resultMap="BaseResultMap">
        select novel.*, user.role role, user.location location, user.content content, user.hiredate hiredate
        from novel
        JOIN user ON novel.creater = user.name
        ${ew.customSqlSegment}
    </select>

    <select id="selectrecord" resultType="com.rabbiter.entity.Novel1">
        select novel.*, user.role role, REPLACE(user.location, "\"", "") location, REPLACE(user.content, "\"", "") content, user.hiredate hiredate
        from novel
        JOIN user ON novel.creater = user.name
        ${ew.customSqlSegment}
    </select>

    <select id="selectrecordai" resultType="java.util.Map" parameterType="java.util.Map">
        select infoTable.date "时间", zongexpend "消耗", zongmargin "盈亏", zongprofit "毛利", zongroi "ROI", infoTable.creater "员工", user.role "角色", REPLACE(user.location, "\"", "") "位置", REPLACE(user.content, "\"", "") "工作内容", user.hiredate "入职时间"
        from ${tableName} infoTable
        JOIN user ON infoTable.creater = user.name where 1=1
        <if test="date1!=null and date1!=''">
            and infoTable.date &gt;= #{date1}
        </if>
        <if test="date2!=null and date2!=''">
            and infoTable.date &lt;= #{date2}
        </if>
        <if test="location!=null and location!=''">
            and user.location like  concat('%', #{location}, '%')
        </if>
        <if test="creater != null and !creater.isEmpty()">
            AND infoTable.creater IN
            <foreach collection="creater" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="role != null and !role.isEmpty()">
            AND user.role IN
            <foreach collection="role" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="content!=null and content!=''">
            and user.content like  concat('%', #{content}, '%')
        </if>
        <if test="hiredate1!=null and hiredate1!=''">
            and user.hiredate &gt;= #{hiredate1}
        </if>
        <if test="hiredate2!=null and hiredate2!=''">
            and user.hiredate &lt;= #{hiredate2}
        </if>
    </select>
</mapper>

