<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbiter.mapper.TomatoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rabbiter.entity.TomatoPromotion">
        <id column="id" property="id" />
        <result column="date" property="date"  jdbcType="VARCHAR" javaType="String"/>
        <result column="fanqiemianfeiexpend" property="fanqiemianfeiexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiemianfeirecharge" property="fanqiemianfeirecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiemianfeiroi" property="fanqiemianfeiroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiemianfeiprofit" property="fanqiemianfeiprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiemianfeimargin" property="fanqiemianfeimargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiefufeiexpend" property="fanqiefufeiexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiefufeirecharge" property="fanqiefufeirecharge" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiefufeiroi" property="fanqiefufeiroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiefufeiprofit" property="fanqiefufeiprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="fanqiefufeimargin" property="fanqiefufeimargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongmargin" property="zongmargin" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongroi" property="zongroi" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongprofit" property="zongprofit" jdbcType="VARCHAR" javaType="float"/>
        <result column="zongexpend" property="zongexpend" jdbcType="VARCHAR" javaType="float"/>
        <result column="time" property="time" jdbcType="VARCHAR" javaType="String"/>
        <result column="creater" property="creater" jdbcType="VARCHAR" javaType="String"/>
        <result column="role" property="role" jdbcType="VARCHAR" javaType="String"/>
        <result column="location" property="location" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="content" property="content" javaType="java.util.List" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="hiredate" property="hiredate" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>



    <select id="selectCodeInfo" resultType="java.util.Map">
        SELECT code, code_name FROM `code_info` where 1=1
        <if test="business!=null and business!=''">
            and business = #{business}
        </if>
        <if test="code_name!=null and code_name!=''">
            and code_name = #{code_name}
        </if>
    </select>

    <select id="selectDistributorById" resultType="java.util.Map">
        select * from `distributor` where distributor_id = #{distributorId}
    </select>

    <insert id="savePromotion" parameterType="com.rabbiter.entity.Promotion" useGeneratedKeys="true" keyProperty="id">
            INSERT INTO automation_promotion (creater, create_time, book_id, book_name, subject, status, project_num, advertising_num, advertiser_num) VALUES
            (#{promotion.creater}, #{promotion.create_time}, #{promotion.book_id}, #{promotion.book_name}, #{promotion.subject}, '1', #{promotion.project_num}, #{promotion.advertising_num}, #{promotion.advertiser_num} )
    </insert>

    <update id="updatePromotion" parameterType="java.util.Map" >
         UPDATE `automation_promotion`
        SET status = #{status}
        <if test="error_info_json!=null and error_info_json!=''">
            , error_info = #{error_info_json}
        </if>
        <if test="project_info_json!=null and project_info_json!=''">
            , project_info = #{project_info_json}
        </if>
        <if test="advertising_info_json!=null and advertising_info_json!=''">
            , advertising_info = #{advertising_info_json}
        </if>
        <if test="promotion_name_info_json!=null and promotion_name_info_json!=''">
            , promotion_name_info = #{promotion_name_info_json}
        </if>
        <if test="promotion_id_info_json!=null and promotion_id_info_json!=''">
            , promotion_id_info = #{promotion_id_info_json}
        </if>
        <if test="advertiser_id_info_json!=null and advertiser_id_info_json!=''">
            , advertiser_id_info = #{advertiser_id_info_json}
        </if>
        WHERE id = #{id};
    </update>
</mapper>

